@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

nav {
  padding: 20px 0;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.logo {
  height: 5vmin;
}
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav h1 {
  color: #4ed9ff;
}
nav .links {
  margin-left: auto;
}
nav a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  transition: all 0.3s;
}
nav a:hover {
  color: #4ed9ff;
}
.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px 0;
}
.home .err {
  padding: 10px 16px;
  border-radius: 5px;
  color: red;
  background: #f3f3f3;
  font-weight: bold;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-radius: 5px;
  background: #f3f3f3;
  transition: all 0.3s;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview a {
  text-decoration: none;
}
.blog-preview h2 {
  font-size: 20px;
  color: #4ed9ff;
  margin-bottom: 8px;
}
.blog-details h2 {
  font-size: 20px;
  color: #4ed9ff;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #4ed9ff;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
button {
  color: #fff;
  background: #4ed9ff;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
